* {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    color: #000;
    background-color: #cfd2d4 !important;
}

body {
    padding: 15px;
    background-color: #cfd2d4 !important;
}

form {
    color: #232627;
    padding: 10px;
    background-color: #fafafa;
    margin: 0 auto;
    width: 65%;
    border-radius: 15px;
}

.form-text {
    color: #6e747a !important;
}

.form-input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-file-input {
    padding-top: 10px;
}

.preferenceList-input {
    padding-top: 10px;
}

.form-button {
    text-align: center;
}

input[type=text]:disabled:hover {
    cursor: not-allowed;
}

input[type=file]:disabled:hover {
    cursor: not-allowed;
}

.btn-primary {
    background-color: #327FCD !important;
    border-color: #327FCD !important;
}

.btn-primary:hover {
    background-color: #4e8ecf !important;
    border-color: #4e8ecf !important;
}

@media (max-width: 430px){
    /* body {
        padding: 5px;
    } */

    form {
        padding: 5px;
        width: 90%;
    }
}

.output {
    padding: 10px;
    background-color: #fafafa;
    margin: 0 auto;
    width: 65%;
    border-radius: 15px;
}