<!DOCTYPE html>
<html>
    <head>
        <title>lorem ipsum</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <section class="layout">
            <div class="topnav">
                <a href="forms">forms</a>
                <a href="matcher">matcher</a>
            </div>
        </section>
        <div class="content">
            <p>Forms page</p>
            <div class="inputs">
                <select>
                    
                </select>
            </div>
        </div>
    </body>
</html>