<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>City Social Matcher</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="content">
            <div class="dataInputForm">
                <form name="f_dataInput" action="/f_dataInput" method="post">
                    <!-- api key input -->
                    <label for="apikey">Jotform API Key:</label>
                    <input type="text" id="apikey" name="apikey">
                    <br>
                    <br>
    
                    <!-- form id or submission id input -->
                    <label for="submissionId">Form/SubmissionIDs</label>
                    <input type="text" id="submissionId" name="submissionId">
                    <br>
                    <br>

                    <!-- event date input -->
                    <label for="eventDate">Event Date:</label>
                    <input type="date" id="eventDate" name="eventDate">
                    <br>
                    <br>

                    <!-- preference list checkbox -->
                    <input type="checkbox" id="preferenceListCheckbox" name="preferenceListCheckbox" value="Yes">
                    <label for="preferenceListCheckbox">Include Preference Lists?</label><br>
                    <br>
                    <br>
    
                    <input type="submit" value="Submit">
                    <p>You can also submit a list of Submission IDs that are comma separated with no spaces.</p>
                </form>
            </div>
            <div class="submissionsOutput">
                {% if key == "BadKey" %}
                    <p>Invalid API Key</p>
                {% elif key == "BadForm" %}
                    <p>Invalid Form ID</p>
                {% elif key == "NoDateGiven" %}
                    <p>No Date Given</p>
                {% endif %}
            </div>
            <div class="matchesOutput">

            </div>
        </div>
    </body>
</html>