<!DOCTYPE html>
<html>
    <head>
        <title>lorem ipsum</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <section class="layout">
            <div class="topnav">
                <a href="forms">forms</a>
                <a href="matcher">matcher</a>
            </div>
        </section>
        <div class="content">
            <form name="input-type" action="/input-type" method="POST">
                <!-- Process Via Select -->
                <label for="input-type">Process Via:</label>
                <select id="input-type" name="input-type">
                    <option value="opt_form-selection">Form Selection</option>
                    <option value="opt_submission-list">Submission ID List</option>
                    <input type="submit" value="Submit">
                </select>
            </form>
            <form name="get_submissions" action="/get_submissions" method="POST">
                <!-- radio button for input type -->
                <input type="radio" id="radio_formid" name="input_type" value="FormID">
                <label for="radio_formid">Form ID</label><br>
                <input type="radio" id="radio_submissionid" name="input_type" value="SubmissionID">
                <label for="radio_submissionid">Submission IDs</label>

                <!-- text input for ids-->
                <label for="input_ids">Form ID/Submssion IDs:</label>
                <input type="text" id="input_ids" name="input_ids">

                <!-- submit button -->
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>